@import "./styles/themes.css";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Cinzel Decorative", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "Cinzel Decorative", serif;
  color: var(--text-color);
  text-shadow: 0 0 0.1rem var(--text-shadow);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--bg-image);
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 1.4rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  background-color: #fff1d0;
  color: var(--primary);
  border: 2px solid var(--primary);
  font-weight: bold;
}

.card-background {
  background-color: var(--card-background);
}

.card-border {
  border-color: var(--card-border);
}

.primaryText-color {
  color: var(--card-text);
}
.primaryText-color-bold {
  color: var(--card-text);
  font-weight: bold;
}

.lowerCaseFont {
  font-family: "Cormorant Garamond", serif;
}

.lowerCaseFont-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
