.characterSheet-traits {
  border: 2px ridge var(--primary);
  border-radius: 1rem;
  height: max-content;
  width: max-content;
  padding: 1rem 0;
}

.characterSheet-abilityScore {
  width: 2.6rem;
  margin: 0.4rem auto 0.5rem auto;
  border-radius: 4rem;
  font-weight: bold;
}

.characterSheet-savingThrowsColumn {
  height: max-content;
}

.characterSheet-abilityScore-btn {
  background-color: transparent;
}

.diceIcon:hover {
  cursor: pointer;
}

.characterSheet-navTable thead tr th {
  background-color: transparent;
  border-color: black;
  color: var(--text-color);
}

.characterSheet-navTable tbody tr td {
  background-color: transparent !important;
  border-color: black;
  color: var(--text-color);
}

.nav-tabs .nav-link {
  color: var(--text-color);
}

.nav-tabs .nav-link.active {
  background-color: var(--primary);
  color: var(--text-color);
}
.nav-tabs .nav-link.active:hover {
  opacity: 0.9;
}

.toast,
.toast-header {
  background-color: var(--primary);
  color: var(--text-primary);
}
